.navbar{
	background-color: black !important;
}
.navbar-collapse{
	color: #d3d3d3 !important;
}
.nav-link{
	color:white !important;
}
.navbar-brand{
	color: #FFFF44 !important;
}
body{
	background-color: lightgrey;
}
